header,
footer {
  background-color: blue;
  color: white;
  text-align: center;
}
h1 {
  color: white;
}
nav{
text-align: center;
}
nav a {
    padding: 20px;
    color: white;
    display: none; 
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
nav b {
    padding: 20px;
    color: white;
    display: block;
}
nav b:hover {
    text-decoration: none;
    color: #616061;
}

nav.show-menu a {
display: block; 
border-top: 1px solid rgba(255, 255, 255, 0.2); 
}
nav b.change {
background-color: rgba(0, 0, 0, 0.3);
}
main{
    display: grid;
    max-width: 1050px; 
    margin: 20px auto; 
}
h1 {
    text-align: center;
}
section {
  padding: 50px;
  background-color: white;
  margin: 1em;
  grid-template-columns: 1fr;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
dialog img {
    max-width: 90%; 
    max-height: 90vh;
    width: auto; 
    height: auto; 
    display: block;
    margin: 5vh auto;
    object-fit: contain;
    
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
    background-color: transparent;
    color: white;
}

@media screen and (min-width: 700px) {
    
    section{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    section{
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav a {
    padding: 20px;
    color: white;
    display: inline-block;
    }
    nav b {
    padding: 20px;
    color: white;
    display: none;
    }
}

